.Headers{
    position: relative;
   
    
  }

  .textareas{
    background-image: url('../../assets/img/fondo3.gif');
    color: aliceblue;
    font-size: 1em;
    padding: 10px;
    background-size: auto;
    background-repeat: no-repeat;
    position: relative;

 
 
    

  }

  #alerta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: opacity 0.5s ease;
    opacity: 0;
  }

  .transition-img {
    transition: opacity 0.5s ease-in-out;
  }

  .active {
    opacity: 1;
  }
  
  .col-12.col-md-6 img:not(.active) {
    opacity: 0;
  }

  section div .textareas form{
    padding: 10px;
    width: 64%;
    background-color: rgba(0, 0, 0, 0.781);
    position: relative;

    left: 14%;
    right: 0;
    top: 10;
    padding:  25px;
  }

  @media screen and (width:375px) {
    section div .textareas form{
      width: 100%;
      left: 0;
      right: 0;
      


    
    }

     .textareas{

     
      background-image: none;

  
  
    }
    
  }


  




