.Headers{
    position: relative;
   
    
  }
 .textareas{
    background-image: url('../../assets/img/fond.png');
    color: aliceblue;
    font-size: 1em;
    padding: 10px;

  }

  #alerta {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    transition: opacity 0.5s ease;
    opacity: 0;
  }

  .transition-img {
    transition: opacity 0.5s ease-in-out;
  }

  .active {
    opacity: 1;
  }
  
  .col-12.col-md-6 img:not(.active) {
    opacity: 0;
  }
  




